* {
    background-color: #ebe4e4;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: #fff;
}

h3 {
    text-align: center;
    background-color: #fff;
}

.folhaDaPagina {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    height: 590px;
}

div,
p,
strong {
    margin: auto;
    background-color: #fff;
    display: block;
}



input {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    /* margin-left: 6px; */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    /* margin-left: 6px; */
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.informacao {
    margin-top: 7rem;
}