* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e5e5;
}

h1 {
    text-align: center; /* ALINHAMENTO AO CENTRO */
    font-size: 3rem;
}

header {
    display: flex;
    flex-flow: row wrap; /* é uma forma abreviada de definir duas propriedades ao mesmo tempo em um container flexível */
    align-items: center;
    width: 90%;
    margin: auto auto;
    /* border: 1px solid orangered; */
}
/*  */
input {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
}

button.add {
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold; /* NEGRITO */
    border: none; /* SEM EFEITO NO BOTAO */
    height: 120px;
    border-top-right-radius: 10px; /* ARREDONDAMENTO DA BORDA DO BOTÃO */
    border-bottom-right-radius: 10px; /* ARREDONDAMENTO DA BORDA DO BOTÃO */
}
/*  */
main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto; /* CENRTRALIZAR NO MEIO */
    padding-top: 40px;
    /* border: 1px solid goldenrod; */
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc; /* SOMBREAMENTO */
    margin-bottom: 1%;  /* ESPAÇAMENTO ENTRE AS TAREFAS ADICIONADAS */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*  */
.item-icone {
    flex: 20%;
    text-align: center;
    font-size: 2rem;
    /* border: 1px solid green;
    height: 80px; */
}

.item-nome {
    flex: 55%;
    font-size: 20px;
    font-weight: bold;
    /* border: 1px solid orchid;
    height: 80px; */
}

.item-botao {
    flex: 25%;
    /* border: 1px solid greenyellow;
    height: 80px; */
}

button.delete {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item-clicado {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #D4F6D9;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 1%;
}
/*  */
.item-clicado .item-nome {
    text-decoration: line-through; /* RISCAR A TAREFA */
    color: grey;
}

#icone-marcado{
    color: green;
}

/* 40:00 */